@model IEnumerable<EmployeeExam.Data.Entities.Department>

@{
    ViewData["Title"] = "Index";
    string head;
}

<h1>Структурные подразделения</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.dep_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dep_abvr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Head)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dep_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dep_abvr)
            </td>
            <td>
                @{ if (item.Head == true) head = "Действует"; }
                @{else head = "Не действует"; }
                @head
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.dep_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.dep_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.dep_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
