@model IEnumerable<EmployeeExam.Data.Entities.Test>

@{
    ViewData["Title"] = "Index";
}

<h1>Билеты</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumberTicket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions_2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions_3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions_4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Variant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumberTicket)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questions_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questions_2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questions_3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questions_4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Variant)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Tests_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Tests_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Tests_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
