@model IEnumerable<EmployeeExam.Data.Entities.Employee>

@{
    ViewData["Title"] = "Index";
    ViewData["background"] = "another";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Создать нового</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tabel_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dep_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.title_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamberComission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.passed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.need_print)
        </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tabel_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dep_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamberComission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.passed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.need_print)
        </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Employee_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Employee_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Employee_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
