@model IEnumerable<EmployeeExam.Data.Entities.TempEmployee>
@{ 
    DateTime data = (DateTime)ViewData["Data"];
}

<p>
    <h3>Сотрудники, сдающие экзамен @data.ToString("d").</h3>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Tabel_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FIO)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Date)
            </th>
           
            <th class="text-center">
                @Html.DisplayNameFor(model => model.dep_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.title_id)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.NamberComission)
            </th>           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Tabel_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FIO)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.dep_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title_id)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.NamberComission)
            </td>            
        </tr>
}
    </tbody>
</table>
